<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="1.10.0" targetFramework="net461" />
  <package id="NLayer" version="1.12.0" targetFramework="net461" />
  <package id="NLayer.NAudioSupport" version="1.1.0" targetFramework="net461" />
  <package id="SharpCifs.Std" version="0.2.13" targetFramework="net461" />
  <package id="System.Console" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.NetworkInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net461" />
  <package id="taglib" version="2.1.0.0" targetFramework="net461" />
</packages>